.heroStaff {
    background-color: #000000;
    background-position: center;
}

.staffHeroText {
    padding: 3rem;
}

@media only screen and (max-width: 992px) {
    .heroStaff {
        background-image: url('../images/hero-staff.png');
        background-color: none;
        background-position: center;
    }
    .staffHeroText {
        padding: 2rem;
    }
}

